<div class=" min-h-screen ">
  <div>
    <p class="font-dancing font-bold text-center text-6xl py-12"><span class=" text-purple-700">I</span>ndatac<span class="text-purple-700">o</span>re</p>
  </div>

  <div class=" ml-24 sm:ml-32 lg:ml-40 py-2 flex items-center gap-2 border-b-2 border-purple-400 drop-shadow-2xl">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 013 19.875v-6.75zM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V8.625zM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V4.125z" />
    </svg>

    <p class=" font-oswald font-bold text-3xl drop-shadow-2xl">Overview</p>
  </div>

    <div class=" lg:flex lg:justify-around lg:items-center grid justify-center gap-4 my-8 ">
      <div class=" drop-shadow-2xl rounded-xl lg:w-1/3 w-full">
        <p class=" font-bold font-poppins text-2xl text-center">PolarArea chart</p>
        <canvas id="polarArea" class=" mt-4"></canvas>
      </div>

      <div class=" drop-shadow-2xl rounded-xl lg:w-1/3 w-full">
        <p class=" font-bold font-poppins text-2xl text-center">Pie chart</p>
        <canvas id="pieChart" class=" mt-4"></canvas>
      </div>
    </div>


  <div class=" lg:mx-28 mx-16 py-8 pb-28 ">
    <div class=" drop-shadow-2xl rounded-xl lg:w-1/3 w-full ">
      <p class=" font-bold font-poppins text-2xl text-center">Stacked bar chart</p>
      <canvas id="barChart" class=" mt-4"></canvas>
    </div>
  </div>




</div>
