<div class=" min-h-screen">
  <div class="">
    <p class="font-dancing font-bold text-center text-6xl py-12"><span class=" text-purple-700">I</span>ndatac<span class="text-purple-700">o</span>re</p>
    <div class="lg:flex lg:items-center grid gap-4 lg:justify-between mx-20 mt-20 h-full">
      <div class=" md:mx-8">
        <div class="  md:mx-8 bg-gray-50 bg-opacity-60 drop-shadow-2xl px-2 py-8 rounded-xl">
          <p class=" drop-shadow-2xl font-oswald font-bold md:text-6xl text-4xl text-center">Biology gives you a brain. </p>
          <p class=" drop-shadow-2xl font-oswald font-bold md:text-6xl text-4xl text-center mt-2">Life turns it into a</p>
          <p class=" drop-shadow-2xl font-oswald font-bold md:text-6xl text-4xl text-center mt-2">mind !</p>
          <p class=" drop-shadow-2xl font-poppins font-bold md:text-xl  text-end mt-4">Jeffrey Eugenides</p>
        </div>
      </div>

      <div class=" h-full">
        <img src="assets/brain.jpg" class="w-full">
      </div>
    </div>
  </div>
</div>

